<p>O Objetivo dessa aplicação é demonstrar a implementação de uma arquitetura básica de um projeto de front-end.</p>
<p>As principais tecnologias utilizadas foram: Angular.js, HTML5 e SCSS.</p>
<p>Ao clicar no menu "IBOVESPA", uma interface REST é acessada e o histórico de fechamento da Ibovespa é
exibido de forma gráfica em um SVG.</p>
<p>Passando o mouse sobre os picos do gráfico é possível ver os valores de abertura, fechamento, máximo e mínimo.</p>
<p>O Código-fonte pode ser avaliado no <a href="https://github.com/rafappelt/quantum">repositório do github</a></p>
