
<!doctype html>
<html lang="pt-br">
<head>

	<meta charset="ISO-8859-1" />
	<title>Desafio Quantum</title>
	<base target="_blank" href="./"/>
	<style>
		body, html { border:0; margin: 0; padding: 0; width: 100%; height: 100%; }
		
		svg{ 
			display: block;
			border: solid black 3px;
			width: 50vw;
			height: 50vh;
			margin: auto;
		}
	</style>
  
</head>
<body ng-app="app">

	<img src="assets/img/quantum.jpg"/>
	
	<svg chart ng-controller="HomeController as home">
		<text ng-repeat="currency in home.data track by $index" fill="#000" font-size="20" font-size-adjust: 0.58; font-family="Verdana" x="50%" y="50%">{{currency.t}} - {{currency.l}}</text>
	</svg>
	
	<ul chart ng-controller="HistoricalController as hist">
		<li ng-repeat="h in hist.data track by $index" >{{h}}</li>
	</ul>
	
	<!-- Libs -->
	<script src="assets/libs/jquery-1.11.3.min.js"></script>
	<script src="assets/libs/angular.min.js"></script>
	<script src="assets/libs/angular-route.min.js"></script>
	<script src="assets/libs/angular-cookies.min.js"></script>
	
	<!-- Modules Declaration -->
	<script src="app.module.js"></script>
	<script src="app/shared/data/app.data.module.js"></script>
	<script src="app/shared/widget/app.widget.module.js"></script>
	<script src="app/components/view/app.view.module.js"></script>
	
	<!-- Directives -->
	<script src="app/shared/widget/chart/chart.directive.js"></script>
	
	<!-- Data Services -->
	<script src="app/shared/data/currency/currency.service.js"></script>
	<script src="app/shared/data/stock/stock.service.js"></script>
	
	<!-- Views -->
	<script src="app/components/view/home/home.controller.js"></script>
	<script src="app/components/view/historical/historical.controller.js"></script>

</body>
</html>
